<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>

    <%- include ("./partials/header") %> 

    <main>
        <section class="carrousel-home">
            <article class="tarjeta-carrousel-home">
                <img src="/images/imagen-carrousel-1.jpg" alt="IMAGEN-1">
                <img src="/images/imagen-carrusel-2.webp" alt="IMAGEN-2">
                <img src="/images/imagen-carrusel-3.jpg" alt="IMAGEN-3">
            </article>
        </section>

            <section class="tarjetas-producto">
                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="<%= products[0].image %> " alt="foto">
                        </div>
                        <div class="descripcion">
                            <p><%= products[0].name %> </p>
                            <p><%= products[0].price %> </p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/ADI1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>ADIDAS</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/DUF-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>DUFF</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/cor-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>CORONA</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/NY1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>NEW YORK</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/HON-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>HONDA</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/KTM-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>KTM</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/PUM-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>PUMA</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/riv-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>RIVER</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>
                
                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/boc-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>BOCA</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>

                <article>
                    <a href="/productDetail">
                        <div class="imagen">
                            <img src="/images/V46-1.jpg" alt="foto">
                        </div>
                        <div class="descripcion">
                            <p>V46</p>
                            <p>$4300</p>
                        </div>
                    </a>
                </article>
            </section>
            
            <section class="personalizar">
                <h3>PERSONALIZA TU GORRA!</h3>
                <article class="textos-perso" >
                    <p>Podés hacerlo con cualquiera de nuestros modelos, envíanos tu pedido al email que figura al pie de página y pronto nos contactaremos contigo.</p>
                </article>
                
                <article class="img-perso">
                    <img src="/images/gorra1.png" alt="foto-gorra">
                </article>
            </section>
                
             <div class="botones">
                <button>Registrarme</button>
                <button>Login</button>
            </div>
    </main>

    <%- include ("./partials/footer") %> 

    <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>