<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: 'Registrarse', style: '/css/styleForms.css'}) %> 

<body >
    <%- include ("../partials/header") %> 
   
    <main>
        <h2> REGISTRO </h2>
        
            <p class="p2"> Complete los siguientes campos y disfrute de mas beneficios! </p><br>
            
            <form id="formulario" action="/users/register" method="POST" enctype="multipart/form-data">

                <div class="form-control" id="camp-firstName">
                    <label for="firstName">Nombre:</label>
                    <input type="text" name="firstName" class="txt-control <%= locals.errors && errors.firstName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.firstName : null %>">
                    <p class="input-error">El campo Nombre es obligatorio y debe tener al menos 2 caracteres</p>
                </div>
                <% if (locals.errors && errors.firstName) { %>
                    <div class="text-danger">
                        <%= errors.firstName.msg %> 
                    </div>
                <% } %>
                <div class="form-control" id="camp-lastName">
                    <label for="lastName">Apellido:</label>
                    <input type="text" name="lastName" class="txt-control" <%= locals.errors && errors.lastName ? 'is-invalid' : null %> value="<%= locals.oldData ? oldData.lastName : null %>">
                    <p class="input-error">El campo Apellido es obligatorio y debe tener al menos 2 caracteres</p>
                </div>
                <% if (locals.errors && errors.lastName) { %>
                    <div class="text-danger">
                        <%= errors.lastName.msg %> 
                    </div>
                <% } %>
                <div class="form-control" id="camp-email">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="txt-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.email : null %>">
                    <p class="input-error">El campo email es obligatorio y debe ser un formato de email válido</p>
                </div>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
                <div class="form-control" id="camp-password">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="txt-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.password : null %>">
                    <p class="input-error">El campo password es obligatorio y debe tener un mínimo de 8 caracteres</p>
                </div>
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %> 
                    </div>
                <% } %>                                
                <div class="form-control" id="camp-image">
                    <label for="image">Fotos de perfil:</label>
                    <input type="file" name="image">
                    <p class="input-error">la Foto de perfil debe ser de alguno de los siguientes formatos: .jpg, .gif, .png, .jpeg o .webp</p>
                </div>
                <% if (locals.errors && errors.image) { %>
                    <div class="text-danger">
                        <%= errors.image.msg %> 
                    </div>
                <% } %>     
    
                <div class="botones">
                    <button type="submit">Guardar</button>
                    <button type="reset">Borrar</button>
                </div>
            </form>

</main>

       <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
    <script src="/js/validationsFrontRegister.js"></script>
</body>
</html>