<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: 'Editar Producto', style: '/css/styleProductEdit.css'}) %> 

<body>
    <%- include ("../partials/header") %> 
    
    <h2>Editar Producto</h2>
    <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

        <div class="form-control">
            <label for="name">Nombre del Producto:</label>
            <input type="text" name="name" value="<%= product.name %> " class="txt-control">
        </div>

        <div class="form-control">
            <label for="description">Descripción:</label>
            <textarea name="description" class="txt-control"><%= product.description %></textarea>
        </div>
        <div class="form-control">
            <label for="category">Categoría:</label>
            <select name="category" >
                <% if (product.category == "Deportivas") { %>
                    <option value="Deportivas" selected>Deportivas</option>
                    <option value="Coleccion">Colección</option>
                    <option value="Musica">Música</option>
                <% } else if (product.category == "Coleccion"){ %>
                    <option value="Deportivas">Deportivas</option>
                    <option value="Coleccion" selected>Colección</option>
                    <option value="Musica">Música</option>
                <% } else if (product.category == "Musica"){ %>
                    <option value="Deportivas">Deportivas</option>
                    <option value="Coleccion">Colección</option>
                    <option value="Musica" selected>Música</option>
                <% } %>
            </select>
        </div>

        <div class="form-control">
            <label for="image">Fotos del producto:</label>
            <input type="file" name="image" accept="image/*">
        </div>

        <div class="form-control">
            <label for="size">Talle:</label>
            <select name="size" >
                <% if (product.size == "S") { %>
                    <option value="S" selected>S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                <% } else if (product.size == "M"){ %>
                    <option value="S">S</option>
                    <option value="M" selected>M</option>
                    <option value="L">L</option>
                <% } else if (product.size == "L"){ %>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L" selected>L</option>
                <% } %>
            </select>
        </div>

        <div class="form-control">
            <label for="price">Precio:</label>
            <input type="number" name="price" value="<%=  product.price %>" class="txt-control">
        </div>

        <div class="botones">
            <button type="submit">Guardar</button>
            <button type="reset">Borrar</button>
        </div>
    </form>

    <!-- Script de los iconos -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>
</html>
